$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$text-primary: #1D1D1B;

$yellow: rgb(255, 210, 92);
$red: rgb(255, 103, 76);
$pink: rgb(253, 194, 203);
$purple: rgb(189, 165, 255);
$blue: rgb(110, 122, 207);
$green: rgb(42, 210, 169);
