.preset3 {
  .imageContainer-1 {
    text-align: right;

    .image {
      width: 61%;
    }
  }

  .imageContainer-2 {
    margin-top: -59rem;
    margin-bottom: 26rem;

    .image {
      width: 43%;
    }
  }

  .imageContainer-3 {
    text-align: center;

    .image {
      width: 62%;
    }
  }

  .imageContainer-4 {
    .image {
      width: 80%;
    }
  }

  .imageContainer-5 {
    text-align: right;
    margin-top: -12rem;

    .image {
      width: 33%;
    }
  }

  .imageContainer-6 {
    text-align: center;

    .image {
      width: 80%;
    }
  }

  .imageContainer-7 {
    .image {
      width: 100%;
    }
  }

  .imageContainer-8 {
    text-align: right;

    .image {
      padding-right: 15rem;
      width: 46%;
    }
  }

  .imageContainer-9 {
    padding-left: 7rem;
    margin-top: -15rem;

    .image {
      width: 33%;
    }
  }

  .imageContainer-10 {
    text-align: center;

    .image {
      width: 85%;
    }
  }
}
