.preset1 {
  .imageContainer-1 {
    .image {
      width: 80%;
    }
  }

  .imageContainer-2 {
    text-align: right;
    margin-top: -11rem;

    .image {
      width: 33%;
    }
  }

  .imageContainer-3 {
    margin-top: -5rem;
    padding-left: 10rem;

    .image {
      width: 46%;
    }
  }

  .imageContainer-4 {
    padding-left: 5rem;

    .image {
      width: 80%;
    }
  }

  .imageContainer-5 {
    padding-left: 18rem;

    .image {
      width: 46%;
    }
  }

  .imageContainer-6 {
    text-align: right;
    margin-top: -13rem;

    .image {
      padding-right: 7rem;
      width: 33%;
    }
  }

  .imageContainer-7 {
    margin-top: -30rem;

    .image {
      width: 33%;
    }
  }

  .imageContainer-8 {
    margin-top: 9rem;
    margin-bottom: 10rem;
    padding-left: 5rem;

    .image {
      width: 62%;
    }
  }

  .imageContainer-9 {
    text-align: right;

    .image {
      padding-right: 10rem;
      width: 36%;
    }
  }

  .imageContainer-10 {
    padding-left: 15rem;
    margin-top: -23rem;

    .image {
      width: 40%;
    }
  }
}
